.about_container {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}

#about-me.about_container{
     background-color: hsl(210deg 27% 24%);
     margin: 0;
     padding: 100px;
}

.about_container img {
    border-radius: 50%;
    width: 200px;
    border: 0.5px solid rgb(218, 218, 218);
    margin-bottom: 1rem;
}

.about_text {
    max-width: 600px;
    color: 0.5px solid rgb(218, 218, 218);
}

/* ----------------MEDIA QUERIES---------------- */

@media only screen and (max-width: 900px) {
    .about_container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .about_text {
        max-width: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .about_container {
        flex-direction: column;
    }
}
