.contactMe_container{
    background-color: var(--nav-color);
    color: aliceblue;
    padding: 1rem;
    padding-top: 30px;
}

.contactMe_data_links{
    display: flex;
    justify-content: space-evenly;
}

.contactMe_data_links a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.contactMe_data_links a:hover{
    color: var(--light-color);
}

@media only screen and (max-width: 600px) {
    .contactMe_data_links{
        flex-direction: column;
    }  
}