.portfolio{
  background-color: aqua;
}

.portfolio_main_container h1,
.portfolio_main_container p {
text-align: center;
margin-top: 3rem;
}

#portfolio_card_container{
    width: 50%;
    padding: 10px;
    border: none;
}

.portfolio_image:hover{
    cursor: pointer;
    filter: brightness(50%);
}

.portfolio_click_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--font-color);
    display: none;
}

.portfolio_image:hover + .portfolio_click_info{
    display: block;
}

.modal-backdrop-show {
    opacity: .1 !important;
}

#portfolio_modal_link {
    padding: 0 0 1rem 1rem;
}

#portfolio_modal_link:link {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #portfolio_card_container{
        width: 100%;
        padding: 0.5rem 2.5rem;
        border: none;
    }  
}